# Entorno Virtual
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store

# Datos temporales
trendsMonitoring/data/latest_trends.json
trendsMonitoring/outputs/*
!trendsMonitoring/outputs/.gitkeep
